table {
    width: 100%;
    margin: 10px 2px;
}

table td, table th {
    border-bottom: 1px solid #e6e6e6;
    padding: 0px;
}

table.last-column-right td:last-child, table.last-column-right th:last-child {
    text-align: right;
}

small {
    color: gray;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#menu-panel i.fa {
    margin-top: 3px;
}

.bar {
    width: 100%;
    background-color: lightgray;
}

.bar > .completed-bar {
    text-align: center;
    background-color: darkseagreen;
    color: white;
    text-shadow: none;
    white-space: nowrap;
}

.bar > .completed-bar.downloading {
    background-color: darkseagreen;
}

.bar > .completed-bar.waiting {
    background-color: #F4C430;
}

.bar > .completed-bar.pause {
    background-color: #E52B50;
}

.ui-navbar .fa {
    display: block;
}

.bg-green {
    background-color: lightgreen !important;
}

.handlebars-template {
    display: none !important;
}

/* Overwrite jQuery Mobile */
.ui-navbar span {
    font-size: 10px;
}

.ui-controlgroup {
    margin: .5em .5em !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 1px !important;
}

.b-0 {
    border: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1px !important;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.file-command {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position: absolute; right: 6px; bottom: 0;
}

.file-command > button {
    margin: 1px 25px 1px 1px;
    padding: 1px;
    border: 0;
    background-color: transparent !important;
}

a.file-check.selected .file-command, a.file-check:focus .file-command, a.file-check:hover .file-command {
    opacity: 1;
}

/* Spinner https://tobiasahlin.com/spinkit/ */

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Tablet and over */

@media ( min-width: 35em ) {

    .d-md-none {
        display: none !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-inline {
        display: inline !important;
    }

    /* navbar bigger fonts */
    .ui-navbar span {
        font-size: 17px;
    }

    /* form in a list */
    .ui-field-contain > label {
        width: 60%;
    }

    .ui-field-contain > label~[class*=ui-] {
        width: 38%;
    }

    .ui-field-contain .ui-flipswitch.ui-flipswitch-active {
        width: 1.875em;
    }

    /* wrap on wide viewports once open */

    .ui-panel-page-content-open.ui-panel-page-content-position-left {
        margin-right: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-position-right {
        margin-left: 17em;
    }
    .ui-panel-page-content-open {
        width: auto;
    }

    /* disable "dismiss" on wide viewports */
    .ui-panel-dismiss {
        display: none;
    }

    /* same as the above but for panels with display mode "push" only */

    .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
        margin-right: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
        margin-left: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-display-push {
        width: auto;
    }

    .ui-panel-dismiss-display-push {
        display: none;
    }
}

/* Desktop */
@media (min-width: 55em) {

    .d-lg-none {
        display: none !important;
    }

    .d-lg-block {
        display: block !important;
    }

    .d-lg-inline {
        display: inline !important;
    }
}