table {
    width: 100%;
    margin: 10px 2px;
}

table td, table th {
    border-bottom: 1px solid #e6e6e6;
    padding: 0px;
}

table.last-column-right td:last-child, table.last-column-right th:last-child {
    text-align: right;
}

small {
    color: gray;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#menu-panel i.fa {
    margin-top: 3px;
}

.bar {
    width: 100%;
    background-color: lightgray;
}

.bar > .completed-bar {
    text-align: center;
    background-color: darkseagreen;
    color: white;
    text-shadow: none;
}

.bar > .completed-bar.downloading {
    background-color: darkseagreen;
}

.bar > .completed-bar.waiting {
    background-color: #F4C430;
}

.bar > .completed-bar.pause {
    background-color: #E52B50;
}

.ui-navbar .fa {
    display: block;
}

.bg-green {
    background-color: lightgreen !important;
}

/* Overwrite jQuery Mobile */
.ui-navbar span {
    font-size: 10px;
}

.ui-controlgroup {
    margin: .5em .5em !important;
}

/* Desktop mode */

@media ( min-width: 35em ) {
    /* navbar bigger fonts */
    .ui-navbar span {
        font-size: 17px;
    }

    /* form in a list */
    .ui-field-contain > label {
        width: 60%;
    }

    .ui-field-contain > label~[class*=ui-] {
        width: 38%;
    }

    .ui-field-contain .ui-flipswitch.ui-flipswitch-active {
        width: 1.875em;
    }

    /* wrap on wide viewports once open */

    .ui-panel-page-content-open.ui-panel-page-content-position-left {
        margin-right: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-position-right {
        margin-left: 17em;
    }
    .ui-panel-page-content-open {
        width: auto;
    }

    /* disable "dismiss" on wide viewports */
    .ui-panel-dismiss {
        display: none;
    }

    /* same as the above but for panels with display mode "push" only */

    .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
        margin-right: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
        margin-left: 17em;
    }
    .ui-panel-page-content-open.ui-panel-page-content-display-push {
        width: auto;
    }

    .ui-panel-dismiss-display-push {
        display: none;
    }
}
